body {
  background-color: white;
}

html {
  background-color: white;
}

.customTitle {
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  text-align: center;
  background-color: #192a51;
  margin: 50px;
}

#projectTitle{
  text-align: center;
}

.sectionHead{
    background-color: #192a51;
    margin-top: 200px;
}

#titleSectionHead{
  color: white;
  font-family: "Playfair Display", serif;
  padding: 20px
}

.formsInput{
  font-family: "Playfair Display", serif;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

#pythonForm{
  font-family: "Playfair Display", serif;
  text-align: center;
  background-color: #192a51;
}

#pythonLabel{
  color: white;
  font-size: 30px;

}

.submitInfo{
  margin-bottom: 10px;
}